<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <!-- CDN INSTALL -->
        <script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/element-ui@2.14.1/lib/theme-chalk/index.css">
        <script src="https://unpkg.com/element-ui@2.14.1/lib/index.js"></script>
        <script src="https://unpkg.com/axios@0.21.0/dist/axios.min.js"></script>
        <!-- LOCAL INSTALL
        <script src="../static/vue.js"></script>
        <link rel="stylesheet" href="../static/index.css">
        <script src="../static/index.js"></script>
        <script src="../static/axios.min.js"></script>
        -->
        <!-- CSS -->
        <style>
            #welcome{
                font-size: 20px;
                color: white;
                opacity: 0.8;
            }
            .usrinfo{
                font-size: 18px;
                margin-top: 15px;
                margin-bottom: 15px;
            }
            .mbutton{
                display: inline;
            }
        </style>
    </head>

    <body style="background-image:url(../public/static/login_bg.jpg); background-size: cover;"><!-- body部分添加背景图片 -->

        <!-- 抬头欢迎提示 -->
        <div id="welcome" style="margin-left: 2%;">
            <h1 style="display: inline;">欢迎：</h1>
            <h1 style="display: inline;" id="cur_un"><%=username%></h1>
        </div>

        <!-- 账户相关，由vue变量account控制 -->
        <div id="account" style="margin-left: 2%; margin-top: 20px; font-size: 30px;">

            <el-button class="mbutton" type="success" icon="el-icon-user-solid" @click="get_userinfo()">查看账户信息</el-button>
            <el-button class="mbutton" type="warning" icon="el-icon-s-home" @click="exitlogin()">退出登录</el-button>
            
            <!-- 查看个人信息 -->
            <el-dialog title="账户信息" :visible.sync="infoFormVisible" width="50%">
                <li v-for="(value,key) in userinfo">
					<br />
					<p><span>代币种类: {[key]}</span></p>
					<p><span>代币余额: {[value]}</span></p>
				</li>
                <div slot="footer" class="dialog-footer" style="margin-top: 15px;">
                    <el-button type="primary" @click="infoFormVisible = false">确 定</el-button>
                </div>   
            </el-dialog>

        </div>

        <!-- BMS主体，留出两侧边距 -->
        <div id="darkpool" style="margin-left: 2%; margin-right: 2%;">

            <!-- 选项卡样式 -->
            <el-tabs type="border-card" @tab-click="handleClick" style="opacity: 0.95;">

                <!-- 转账查询 -->
                <el-tab-pane label="转账查询" name="transfer">
                    <li v-for="tf in transfer_list">
                        <br />
                        <p><span>发起方:</span><span v-text="tf.from"></span></p>
                        <p><span>接收方:</span><span v-text="tf.to"></span></p>
                        <p><span>金额:</span><span v-text="tf.value"></span></p>
                    </li>
                </el-tab-pane>
                
                <!-- 订单查询 -->
                <el-tab-pane label="订单查询" name="order">
                    
                </el-tab-pane>
                
            </el-tabs>
            
        </div>
    </body>

    <script>
        // account变量专门处理与用户信息相关的操作
        var account = new Vue({
            el: "#account",
            delimiters: ["{[", "]}"],
            data: {
                userinfo: {}, // 当前用户信息
                infoFormVisible: false,  // 查看用户信息对话框
                formLabelWidth: '150px',
            },
            methods: {
                // 退出登录，跳转
                exitlogin() {
                    window.location.href="http://localhost:9000/"
                },
                // 获得当前用户信息
                get_userinfo() {
                    axios.post('http://localhost:9000/getinfo',{
                        'username': document.getElementById("cur_un").innerHTML,
                    })
                    .then(Response => {
                        console.log('Symbol',Response['data']['symbol'])
                        console.log('Balance',Response['data']['balance'])
                        this.userinfo[ Response['data']['symbol'] ] = Response['data']['balance']
                        this.infoFormVisible = true
                    })
                    .catch(function (error){
                        console.log(error);
                    })
                },
            }
        });

        // 暗池交易系统
        var dp = new Vue({
            el: "#darkpool",
            delimiters: ["{[", "]}"],
            data: {
                transfer_list : [],
                deal_order_list : [],
                match_order_list : [],
                // 由于vue绑定的关系，这里重新获取当前用户信息
                username: document.getElementById("cur_un").innerHTML,  // 用户名
                currentPage: 1, // 查询结果当前页
                pageSize: 10, // 查询结果每页多少条
            },
            methods: {
                // 菜单选择
                handleClick(tab, event) {
                    console.log(tab, event);
                    if(tab.name == 'transfer'){
                        this.get_transfer();
                    }
                    else if(tab.name == 'order'){
                        this.get_order();
                    }
                },
                // 查询交易信息
                get_transfer() {
                    axios.post('http://localhost:9000/gettransfer',{
                        'username': this.username
                    })
                    .then(Response => {
                        console.log(Response['data']['transfer_list'])
                        this.transfer_list = Response['data']['transfer_list']
                    })
                    .catch(function (error){
                        console.log(error);
                    })
                },
                // 查询订单信息
                get_order(){
                    axios.post('http://localhost:9000/getorder').then(Response => {
                        console.log('data',Response['data'])
                        console.log('deal',Response['data']['DealOrder'])
                        console.log('match',Response['data']['MatchOrder'])
                    })
                },
                // 每页多少条
                handleSizeChange(val) {
                    this.pageSize = val;
                },
                // 当前页
                handleCurrentChange(val) {
                    this.currentPage = val;
                },
            }
        });
    </script>
  
</html>
